name: Build and Deploy

on: [push]

jobs:
  Cleanup:
    runs-on: [self-hosted, pleblanclabcit]
    steps:
    - name: Delete old repos
      run: >
        cd /home/github && sudo rm -rf /home/github/_work/leblanc-lab-site/
        
  Checkout:
    runs-on: [self-hosted, pleblanclabcit]
    needs: [Cleanup]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
        
  Build-Deploy:
    runs-on: [self-hosted, pleblanclabcit]
    needs: [Checkout]
    steps:
    - name: Build
      run: >
        sudo podman --remote --url=unix:///run/podman/podman.sock run
        --rm 
        -v /site/leblanclab/runner/_work/${{ github.event.repository.name }}/${{ github.event.repository.name }}:/repo 
        -v /site/leblanclab/logs:/logs
        leblanclab-build
    - name: Stop Old Site Container
      run: >
        sudo podman --remote --url=unix:///run/podman/podman.sock exec 
        -it serve sh -c "pkill -f 'node /usr/local/bin/serve -s /repo/dist -l 8080'"
    - name: Serve New Site
      run: >
        sudo podman --remote --url=unix:///run/podman/podman.sock run
        --rm
        -d 
        -p 8000:8080 
        -v /github/home/_work/leblanc-lab-site/leblanc-lab-site:/repo 
        -v /logs:/logs 
        --name serve 
        leblanclab-serve
