name: Build and Deploy

on: [push]

jobs:
  Checkout:
    runs-on: [self-hosted, pleblanclabcit]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
        
  Build:
    runs-on: [self-hosted, pleblanclabcit]
    steps:
    - name: Build
      run: >
        podman run 
        --rm 
        -v /site/leblanclab/runner/_work/${{ github.event.repository.name }}/${{ github.event.repository.name }}:/repo 
        -v /site/leblanclab/logs:/logs
        leblanclab-build
    - name: Stop serve
      run: >
        podman exec -it serve sh -c "pkill -f 'node /usr/local/bin/serve -s /repo/dist -l 8080'"
    - name: Serve new site
      run: >
        podman run 
        -d 
        -p 8000:8080 
        -v /site/leblanclab/runner/_work/leblanc-lab-site/leblanc-lab-site:/repo 
        -v /site/leblanclab/logs:/logs 
        --name serve 
        leblanclab-serve
